@font-face {
    font-family: 'Panthera';
    src: url(./fonts/panthera-cufonfonts/PantheraRegular-MVZ9J.ttf);
}
@font-face{
    font-family: 'Beyno';
    src: url(./fonts/beyno-regular-maisfontes.80ae/beyno-regular.otf);
}
@font-face {
    font-family: 'Wakanda Forever';
    src: url(./fonts/wakanda_forever/WakandaForever-Regular.ttf);
}
@font-face {
    font-family: 'Cantarell';
    src: url(./fonts/cantarell/Cantarell-Regular.ttf);
}
body{
    background-image: url(./Illustrations+Logo/Allpages/arrière_plan.png);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

 header li{
    display:inline;
    
}
.logo a img:hover{
    filter: invert(64%) sepia(9%) saturate(860%) hue-rotate(219deg) brightness(91%) contrast(91%);
}
.navi li a{
    padding: 0 50px;
    font-family: "Beyno";
    font-size: 23px;
}
.navi li a:hover{
    text-decoration: underline;
}
.navi li a.wakanda:visited{
    color: #9E91B7;
    text-decoration:underline;
    
}
p{
    font-family: 'Cantarell';
    font-size: 16px;
}
.container{
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
#hero h1{
    font-family: 'Beyno';
    font-size: 48px;
    color: #9E91B7;
}
#hero h2{
    padding: 20px 0;
    font-family: 'Wakanda Forever';
    color: #9E91B7;
    font-size: 32px;
    font-weight: 100;
}
#hero .texte{
    position: relative;
    top: 400px;
}
#hero .texte p{
    width: 40%;
}
#hero .forever img{
    width: 100%;
}
#story{
    column-count: 2;
    column-width: 400px;
    background-image: url(./Illustrations+Logo/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-position: top center;
}
#story p{
    padding: 10px 0;
}
#story h2{
    padding: 25px 0;
    font-family: 'Beyno';
    color: #9E91B7;
    font-size: 28px;
    font-weight: 100;

}
.video{
    width: 500px;
    border: 1px solid;
    background-color: #6649cf;
    color: #fff;
    height: 200px;
    padding: 40px 40px;
    margin: 70px 0;
}
.video a{
    color: #fff;
    text-decoration: none;
   
}
.video a.lien2{
    padding: 40px 0;
}
footer{
    background-image: url(./Illustrations+Logo/Allpages/back_footer.png);
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
}
footer .logo2:hover{
    zoom: 110%;
 }
footer .logo2 .footer1{
    width: 300px;
    margin: 200px 50px 100px 400px;
    
}
footer .logo2 .footer2{
    position: relative;
    top:-270px;
    left:-270px;
}
footer .pages{
    float: right;
    position: relative;
    right: 600px;
    top: -450px;
}
li{
    font-family: 'Cantarell';
    font-size: 10px;
}
.pages h5{
    margin: 0;
    padding-bottom: 30px;
    font-family: 'cantarell';
    font-size: 25px;
    letter-spacing:28%;
    color: #fff;
    font-weight: 100;
    
}
.pages .link li ,a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.link li a:hover{
    text-decoration: underline;
} 
.pages .link li{
    margin-top: 20px;
}
footer .icon{
    float: right;
    position: relative;
    top: -450px;
}
footer .icon h5{
    padding-bottom: 30px;
    font-family: 'cantarell';
    font-size: 25px;
    letter-spacing:28%;
    color: #fff;
    font-weight: 100;
}
 .logo3 a img:hover{
    zoom: 110%;
}
.icon .logo3 a{
    padding: 0 10px;
}
footer ul.pied{
    float: right;
    display: flex;
    position: relative;
    top: -200px;
    left: 300px;
    color: #fff;
}
.pied li.sans{
    list-style: none;
    padding-right: 40px;
}
.pied li a{
    padding-right: 40px;
}